*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


/* box 1 */

nav{
height: 60px;
background-color: #0f1111;
color: white;
display: flex;
align-items: center;
justify-content: space-evenly;
}

.nav-logo{
    width:110px;
    height: 50px;
    justify-content: center;
    justify-items: center;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 100%;
    height: 50px;
    
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
 border: 1.5px solid white;
}

/* box 2 */

.nav-loc-icon{
    display: flex;
    align-items: center;
}

.nav-p1{
    font-size: 0.75rem;
    color: #cccc;
    margin-left: 14px;
}

.nav-p2{
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 700;
}


/* box 3 */

.nav-search{
    display: flex;
    width: 56rem;
    height: 2.5rem;
    border-radius: 4px;
    justify-content: space-evenly;
    
}
.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
    outline: none;
}

.search-select{
    width: 4rem;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-icon{
    display: flex;
    width: 3rem;
    
    /* vertically */
    align-items: center;
    /* horizontally */
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover{
    box-shadow: 0 0 0 3px orange;
}


/* box 4 */
.nav-lang{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-select{
    background-color:#0f1111;
    color: white;
    font-size:1rem;
    width: 45px;
    height: 40px;
    font-weight: 700;
    border: none;
}


.flag-icon{
    padding-top: 4px;
}


/* box 4 */
span{
    font-size: 0.75rem;
}

.nav-weight{
    font-size: 0.85rem;
    font-weight: 700;
}


/* box 6 */

.nav-cart i{
    font-size: 25px;
}

.nav-cart {
    font-size: 0.875rem;
}





/* panel */
.panel{
    display: flex;
    height: 40px;
    background-color: #232F3E;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt p{
    display: inline;
    margin-left: 15px;
    font-size: 0.875rem;
}

.panel-opt{
    width: 95%;
}
